

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fairhope Brewing Company | Craft Brewery | Fairhope, Alabama</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="half-slider.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <%= image_tag("logo-big", :alt => "FBC Logo") %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/welcome/beers">Beers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/welcome/taproom">Taproom</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/welcome/newsandevents">Hoppenings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/welcome/beerfinder">Beer Finder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/welcome/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header style="background-image: url('/assets/beertaps.jpg'); background-size: cover;">
            <div class="heading">
                <h1>BEER FINDER</h1>
            </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h1>Beer Finder</h1>
        <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the
          <code>half-slider.css</code>
          file.</p>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2018 Fairhope Brewing Company</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>

